<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Welcome to text analyzer. Enter your text below.</h1>
    <form action="/analyze" method="get">
        <textarea name="text" style="width: 657px; height: 66px;"></textarea>
        <br>
        <input type="checkbox" name="punctuation" > Punctuation checker
        <br>
        <input type="checkbox" name="fullcaps" > UPPERCASE
        <br>
        <input type="checkbox" name="newlineremover" > New Line Remover
        <br>
        <input type="checkbox" name="extraspaceremover" > Extra Spaces Remover
        <br>
        <button>Submit</button>
    </form>
</body>
</html>
